*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    width: 100%;
    height: 120px;
    background-color: #96DCD6;
}

header
{
    width: 99%;
    height: 250px;
    margin: auto;
    padding-top: 3px;
    background-color: #96DCD6;
}

/*body header*/ .cab_izq
{
    width: 16%;
    height: 242px;
    float: left;
    margin-left: 7px;
    margin-top: 2px;;
    background-color: #96D2DC;
    padding: 1px;
}

body header .cab_cen
{
    width: 65%;
    height: 195px;
    padding: 5px;
    margin-left: 2px;
    float: left;
}

body header .cab_cen .titulo
{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin: 15px;
    /*background-color: rgb(255, 255, 255);*/
}

body header .cab_cen .enun
{
    padding-top: 10px;
    text-align: center;
    font-size: 19px;
}

body header .cab_der
{
    width: 16%;
    height: 242px;
    float: left;
    margin-left: 7px;
    margin-top: 2px;;
    background-color: #96D2DC;
    padding: 1px;
}

nav
{
  width: 100%;
  height: 60px;
  background-color: #9AB8BB;
}

/*nav .content_nav
{
    display: flex;
}*/

nav .image_nav
{
    float: left;
    flex-direction: row;
}

/*nav ul
{
    display: inline-flex;
    align-items: center;
    padding: 14px;
}*/


nav ul li
{
    display: inline-flex;
    align-items: center;
    padding: 14px;
    margin-left: 50px;
    margin-right: 25px;
    color: rgb(249, 0, 0);
    font-size: 20px;
    float: center;
}

nav a
{
    color: rgb(249, 0, 0);
}